// style for the landing page
.index-page .squares{
  @include linear-gradient($red, $light-red);
}
.register-page, .section.section-signup{
  .squares, .square {
    background: $red;
  }
}


.header_top_text {
  margin-bottom: 20px;
  font-size: 18px;
}

.header_bottom_text {
  font-size: 20px;
}

.header_title {
  font-size: 80px;
}